/* dashboard-style.css */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #343a40;
  }
  
  .card {
    border: none;
  }
  
  .list-group-item {
    border: none;
    font-size: 1rem;
  }
  
  .list-group-item:nth-child(odd) {
    background-color: #f1f1f1;
  }
  